<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Cam</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="scripts.js" defer></script>
</head>
<body>
    <div class="container">
        <div id="map"></div>
    </div>
    <p>Satellites: <span id="satellites"></span></p>
    <p>Latitude: <span id="latitude"></span></p>
    <p>Longitude: <span id="longitude"></span></p>
    <p>Last Update: <span id="hour"></span>:<span id="minute"></span>:<span id="second"></span> <span id="pm"></span></p>
</body>
</html>
